<section>
  <h1>About me</h1>
  <p>
    <img src="http://www.gravatar.com/avatar/fca9f7376b4527353138bf920817d59e.png"
    style="float:left; margin-right: 5px;"/> Hello, my name is <strong>Rafael Barbosa</strong> I'm a software developer and I live in Brasilia, capitol of Brazil.
  </p>

  <p>
    I'm following the Ruby/Rails community since 2008, when I first got bored with PHP and decided to learn something else. Since then I learned a whole lot about this incredible language. I work for a start-up called Intelletto where I spent most of my time working on Ruby on Rails solutions.
  </p>

  <p>
    My old Aikido sensei used to say "Once you declare you KNOW something you won't be getting better at that anytime soon" so I try to keep a beginer (newbie) mindset. I started this blog in order to share information that's not so obvious on your normal documentation. That way, new devs can get to this more quickly than I did.
  </p>
</section>
