<section>
  <script type="text/javascript">
  	bb_bid = "1638372";
  	bb_lang = "pt-BR";
  	bb_keywords = "";
  	bb_name = "custom";
  	bb_limit = "4";
  	bb_format = "bbm";
  </script>
  <script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-7005795017481632";
  /* actAsNewbie-side */
  google_ad_slot = "5169880160";
  google_ad_width = 250;
  google_ad_height = 250;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</section>